<div class="container">
    <h1 class="text-center">Danh sách sinh viên</h1>
    <div class="row">
      <div class="col-3" *ngFor="let item of students">
        <app-student-item
          [className]="className"
          [student]="item"
          (selectMonitor)="setMonitor($event)"
          (selectViceMonitor)="setViceMonitor($event)"
          (selectQualityStudent)="setQualityStudent($event)"
        ></app-student-item>
      </div>
  
      <div class="col-12">
        <h4>Lớp Trưởng: {{ selectedMonitor }}</h4>
        <h4>Lớp Phó: {{ selectedViceMonitor }}</h4>
        <h4>Danh sách sinh viên chất lượng cao</h4>
        <p *ngFor="let item of highQualityStudents">
            {{ item.name }}
        </p>
      </div>
    </div>
  </div>
  