/* GLOBAL */
* {
    margin: 0;
    padding: 0;
    /* sử dụng để tính toán độ rộng một item. Thuộc tính box-sizing chỉ có tác dụng với width + padding */
    box-sizing: border-box;
}

.clear-both {
    clear: both;
}

html,
body {
    background-color: #faf4f2;
}

/* HEADER */
.header {
    background-color: #f8e1db;
    padding: 20px 70px;
}

.header ul {
    padding-left: 0;
}

.header ul li {
    /* bỏ dấu chấm tròn */
    list-style: none;
    display: inline;
    /* khoảng cách giữa các thành phần html */
    /* margin:10px; */
    /* khoảng cách từ nội dung content ra tới ngoài viền border */
    /* padding: 10px; */
    margin-right: 15px;
}

.header ul li a {
    /* bỏ đường gạch chân chữ */
    text-decoration: none;
    color: black;
}

.header ul li.active a {
    color: #e76f51;
}

/* CAROUSEL */
.carousel {
    background-image: url(./../images/BG.png);
    height: 500px;
    /* background-size để tấm hình tràn hết thẻ chứa nó */
    background-size: cover;
    /* background-repeat để tấm hình không bị lặp lại */
    background-repeat: no-repeat;
    /* background-position vị trí tấm hình đặt ở trung tâm */
    background-position: center;
    /* border-radius đường bo góc của đường viền giá trị lần lượt là top-left/top-right/bottom-right/bottom-left */
    border-radius: 0 0 200px 200px;
    /* position vị trí của thẻ cha */
    position: relative;
}

.carousel .carousel__item {
    /* float toàn bộ nội dung được sắp xếp từ bên trái qua, đủ hàng thì sẽ rớt xuống hàng tiếp theo */
    float: left;
    width: 25%;
    text-align: center;
    /* margin: 20px; */
    padding: 20px;
}

.carousel .carousel__item .carousel__text {
    background-color: white;
    border-radius: 40px 40px 40px 40px;
    /* margin-top: 400px; */
    padding: 50px;
}

.carousel .carousel__content {
    /* position vị trí của thẻ con luôn luôn phải đi kèm 4 góc top-right-bottom-left */
    position: absolute;
    bottom: -120px;
}

/* Activities */
.activity {
    text-align: center;
    margin-top: 100px;
}

.activity_title {
    margin-top: 150px;
}

.activity__item {
    float: left;
    width: 22%;
    margin: 10px;
}

.activity__card {
    position: relative;
    background-color: white;
    border-radius: 10px;
    padding: 30px;
}

.activity__heart i {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: white;
    padding: 15px;
    border-radius: 3px;
    color: rgb(255, 0, 0);
}

.activity__text {
    text-align: center;
}

.activity__img img {
    width: 100%;
}

.activity__text button {
    background-color: gray;
    color: #fefefe;
    padding: 10px 25px;
    border-radius: 15px;
    border: none;
}

.activity__text button:hover {
    background-color: red;
    color: white;
    cursor: pointer;
}

.activity__viewall button {
    background-color: transparent;
    color: #e76f51;
    padding: 10px 25px;
    border-radius: 15px;
    border: 1px;
    border-style: solid;
    border-color: #e76f51;
}

.activity__viewall button:hover {
    background-color: red;
    color: white;
    cursor: pointer;
}

/* Contact */
.contact {
    margin-top: 30px;
    margin-bottom: 100px;
    overflow: hidden;
    background-color: #f8e1db;
    border-radius: 20px;
}

.content_contact {
    float: left;
    width: 50%;
    padding: 10px 10px;
}

.content_contact .left {
    background: url(../images/mask.png);
    background-size: cover;
    background-position: center;
}

.content_contact .left img{
    width: 100%;
}