#footnotes {
    font-family: "Daimler CAC";
    margin-top: 80px;
    @include styleText($color-white-0, $fs-1, $fw_title_nav);
    .head {
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        p {
            margin-right: 30px;
        }
    }
}