* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Roboto', sans-serif;
    background-color: black;
    // @include styleText($color-white-0, $fs-0, $fw-normal);
    @import url(//db.onlinewebfonts.com/c/0de280340df9c67a5d4e8fb82310b4ad?family=Daimler+CAC);
    @font-face {font-family: "Daimler CAC"; src: url("//db.onlinewebfonts.com/t/0de280340df9c67a5d4e8fb82310b4ad.eot"); src: url("//db.onlinewebfonts.com/t/0de280340df9c67a5d4e8fb82310b4ad.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/0de280340df9c67a5d4e8fb82310b4ad.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/0de280340df9c67a5d4e8fb82310b4ad.woff") format("woff"), url("//db.onlinewebfonts.com/t/0de280340df9c67a5d4e8fb82310b4ad.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/0de280340df9c67a5d4e8fb82310b4ad.svg#Daimler CAC") format("svg"); } 
    // font-family: "Daimler CAC";
}